*{
  margin: 0; padding: 0; box-sizing: border-box;
}
.app{
  height: 100vh;
  
}

.navbar{
  padding: 20px;
  border-bottom: 1px solid gray;;
}
.menu{
  display: flex;
  gap: 20px;
}
.menu li{
  list-style: none;
  text-decoration: none;
}

li {
  font-size: 1.2rem;
}

.btn{
  padding:15px 20px;
  display: inline-block;
  margin-left: 50px;
}

.logout{
  cursor: pointer;
}

.login-form{
  margin-top: 30px;
}
.login-form input, .login-form button{
  display: block;
  padding: 10px 15px;
  width: 250px;
  margin: auto;
  margin-bottom: 10px;
}
.login-form button{
  background-color: rgb(64, 138, 250);
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
}

.recipes-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card-recipe{
  background-color: rgb(216, 216, 216);
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
}

.controls{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.controls div{
  padding: 10px;
  cursor: pointer;
}
.controls div:hover{
  border-bottom: 2px solid rgb(6, 179, 135)
}

form{
  padding: 20px;
  width: 60%;
  margin: auto;
  border: 1px solid;
}
input[type='text'], input[type="submit"]{
  width: 400px;
  display: block;
  padding: 15px;
  margin: 10px auto;
}