*{
  margin: 0; padding: 0; box-sizing: border-box;
}
.app{
  height: 100vh;
  
}

.navbar{
  position: absolute;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.menu{
  display: flex;
  gap: 20px;
}
.menu li{
  list-style: none;
  text-decoration: none;
}

li {
  font-size: 1.2rem;

}

li a{
  color: white;
  text-decoration:none;
  font-weight: bold ;
}

.btn{
  padding:15px 20px;
  display: inline-block;
  margin-left: 50px;
}

.logout{
  cursor: pointer;
}

.hero{
  height: 700px;
  background-image: url('./assets/images/omelette.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.hero .titles{
  background-color: rgba(0, 0, 0, 0.411);
  padding: 30px 40px;
  color: white;
  border-radius: 10px;
}

.hero .titles:first-child{
  font-size: 2rem;
}

.all-recettes{
  position : relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  width : 70%;
  margin : auto;
}
.all-recettes .card-recipe{
  padding: 30px 15px;
}
.plus{
  position: absolute;
  bottom: -60px; right: 0px;
  font-size: 3rem;
  color: green;
  font-weight: bolder;
  cursor: pointer;
}

.login{
  padding-top: 60px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form{
  margin-top: 30px;
}
.login-form input, .login-form button{
  display: block;
  padding: 10px 15px;
  width: 250px;
  margin: auto;
  margin-bottom: 10px;
}
.login-form button{
  background-color: rgb(64, 138, 250);
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
}

.recipes-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card-recipe{
  position: relative;
  background-color: rgb(216, 216, 216);
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
}

.controls{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 15px;
}

.controls div:hover{
  border-bottom: 2px solid rgb(6, 179, 135);
    cursor: pointer;
}

.favorite{
  position: absolute;
  top:10px; right: 10px;
  cursor: pointer;

}
.fav{
    color : red;
}
.not{
  color: green
}
form{
  padding: 20px;
  width: 60%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 4px rgb(190, 189, 189);
}
input[type='text'], input[type="submit"]{
  width: 400px;
  display: block;
  padding: 15px;
  margin: 10px auto;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 2px rgb(121, 121, 121);
}

.add-recipe{
  padding: 15px;
  border: none;
  outline: none;
  background-color: rgb(204, 139, 41);
  color: white;
  font-weight: bold;
  display: block;
  margin: 20px auto;
  border-radius: 5px;
}

.swipcontainer{
  width: 100vw;
  flex-grow: 1;
}
.swip{
  width: 90%;
  border : 1px solid
}